{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
<div class="container">
    <h1>Contact me</h1>
    {{ include('contact/_form.html.twig') }}
</div>
{% endblock %}
